$padding: 8px;

.draggable {
  position: absolute;
  cursor: pointer;
  
  &_dropped {
    transition: all .2s ease-in-out;
  }
}

.text {
  transition: all .2s ease-in-out;
  margin: $padding;
  min-height: 100px;

  &_dragging {
    min-height: 20px;

    input, textarea {
      cursor: pointer;
    }
  }
}

.dragBar {
  height: 20px;
  background: #eee;
}

.deleteButton {
  position: absolute;
  right: 2px;
  top: 2px;
}

.dragIndicator {
  position: absolute;
  border-radius: 4px;
  background: red;
  height: 48px;
  opacity: .1;
}